<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/static/images/Favicon.ico">
    <title>Afterburn | {% block title %}{% endblock title %}</title>
</head>

<body class="bg-light">
    {% include "nav.html" %}

    {% include 'alert.html' %}
    <div class="min-vh-100 p-3 mb-5 bg-body rounded">
        {% block content %}
        {% endblock %}
        {% include "footer.html" %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" type=""></script>
</body>

</html>