<footer class="fixed-bottom text-bg-dark bg-opacity-100">
    <div class="row">
        <h2 class="text-center py-2">Feel Free to Browse Our Recomended Sites and Apps</h2>
    </div>
    <div class="row bg-secondary bg-opacity-25">
        <br class="d-inline">
    </div>
    <div class="row bg-secondary bg-opacity-25 py-4 justify-content-space-between">
        <div class="col">
            <ul class="d-flex flex-column align-items-center list-unstyled">
                <li><a class="link-light" href="">Terms</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="d-flex flex-column align-items-center list-unstyled">
                <li clas="list-group-item "><a class="link-light" href="url_for(https://centr.com)">Centr</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="d-flex flex-column align-items-center list-unstyled">
                <li class="list-group-item "><a class="link-light" href="url_for(https://www.noom.com)">Noom</a></li>
            </ul>
        </div>
    </div>
</footer>