<footer class="fixed-bottom text-bg-dark bg-opacity-100">
    <div class="row">
        <h2 class="text-center">Feel Free to Browse Our Recomended Sites and Apps</h2>
    </div>
    <div class="row bg-secondary bg-opacity-25">
        <br class="d-inline">
    </div>
    <div class="row bg-secondary bg-opacity-25 justify-content-space-between">
        <div class="col">
        </div>
        <div class="col">
            <ul class="d-flex flex-column align-items-center list-unstyled">
                <li clas="list-group-item "><a class="link-light" href="https://centrcom">Centr</a></li>
                <li class="list-group-item "><a class="link-light" href="https://www.noom.com">Noom</a></li>
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
</footer>